<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mysqlDaoImpl" class="com.liang.dao.MysqlDaoImpl"/>
    <bean id="oracleDaoImpl" class="com.liang.dao.OracleDaoImpl"/>
    <bean id="userServiceImpl" class="com.liang.service.UserServiceImpl">
        <property name="dao" ref="oracleDaoImpl"/>
    </bean>
</beans>